.App {
  min-height: 100vh;
  height: auto;
  width: auto;
  margin: 0;
}

.cards-container{
  height: auto;
  width: auto;
  margin: 40px 5%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 15px;
  place-items: center;
}

.status{
  position: absolute;
  bottom: 15px;
  right: 20px;
  height: 25px;
  min-width: 60px;
}

.status span{
  font-size: .9rem;
  border-radius: 5px;
  padding: 10px;
  color: #f2f2f2;
}

.in-process{
  background: #6E17BF;
}

.finished{
  background: #C7366D;
}

.baja, .media, .alta{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  width: auto;
  margin: auto;
  max-width: 150px;
  height: 50px;
  text-align: center;
  font-weight: 600;
}

.baja{
  color: #17BF52;
}

.media{
  color: #BF9D0D;
}

.alta{
  color: #BF1D17;
}

@keyframes animationCard {
  from {clip-path: circle(0% at 50% 50%);}
  to{clip-path: circle(70.5% at 50% 50%);}
}